{{#pagination}}
    <div class="pg">
        {{#prevUrl}}
            <a rel="prev" class="prev" href="{{.}}">
                {{{../labelPrev}}}
            </a>
        {{/prevUrl}}

        {{#navigation}}
            {{#if isCurrentPage}}
                <strong>{{page}}</strong>
            {{else}}
                <a href="{{url}}">{{page}}</a>
            {{/if}}
        {{/navigation}}

        {{#nextUrl}}
            <a rel="next" class="next" href="{{.}}">
                {{{../labelNext}}}
            </a>
        {{/nextUrl}}
    </div>
{{/pagination}}
